html{
    height: 100%;
}

@media (max-width: 320px) {
    .login-box {
        width: 93% !important;
        height: 55%;
    }
}
h2 {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

div {
    margin-top: 1rem !important;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#0a2904, #42a82d);
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box {
    top: -20px;
    left: 0;
    color: #2cff00;
    font-size: 12px;
}
.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    cursor: pointer;
    letter-spacing: 4px;
}
.login-box a:hover{
    background: #2cff00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #2cff00,
                0 0 25px #2cff00,
                0 0 50px #2cff00,
                0 0 100px #2cff00;
}
.login-box a{
    background: #2cff00;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #2cff00,
                0 0 25px #2cff00,
                0 0 50px #2cff00,
                0 0 100px #2cff00;
}
.login-box a input {
    background-color: #2cff00;
    color: white;
    border: 0;
    font: 24px;
    cursor: pointer;
}
.login-box a span{
    position: absolute;
    display: block;
}
.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg,transparent,#2cff00);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.login-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2cff00);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.login-box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2cff00);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.login-box a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2cff00);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100% ;
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #2cff00;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #2cff00;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #2cff00;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #2cff00;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #2cff00;
}

::placeholder { /* Most modern browsers support this now. */
   color: #2cff00;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: auto;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(20, 236, 0);
    border: 1px solid transparent;
    border-radius: 5%;
    background-image: linear-gradient(180deg, #157215 0%, #00ff40 99%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 177, 76);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
